
.heatmap-container {
  height: 100%;
  width: 100%;
  border-radius: 0.75rem; 
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: 2px dashed red;

}

.leaflet-map {
  height: 100%;
  width: 100%;
}
